@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* variables */
    /* Colors */
    $antiflashwhite: #EBEBEB;
    $sgbusgreen: #58ed21;
    $eerieblack: #201E1E;
    $raisinblack: #27282B;

    /* Fonts */
    $roboto: 'Roboto', sans-serif;

/* font-family: 'Roboto', sans-serif; */

:root {
    --green: #58ed21;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $roboto;
    background-color: $raisinblack;
}

/* Mobil size: width 375px */

// Navigation
.nav {
    width: 100%;
    margin: 0 auto;
    padding: 5px 16px 5px 16px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: $eerieblack;

    div {
        display: flex;
        align-items: center;
        gap: 10px;


        a {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            transition: 0.2 ease-in;

            img {
                width: 100%;
            }
        }

        a:hover {
            box-shadow: 0px 0px 8px 2px  rgba(85, 236, 32, 0.5);
            color: $sgbusgreen;
            // animation: glow1 1s ease-in-out infinite alternate;
        }

        @keyframes glow1 {
            from {
              box-shadow: 0 0 50px #55ec20, 0 0 20px #55ec20, 0 0 30px #55ec20, 0 0 40px #55ec20, 0 0 50px #55ec20, 0 0 60px #55ec20, 0 0 70px #55ec20;
            }
            
            to {
              box-shadow: 0 0 20px #55ec20, 0 0 30px #55ec20, 0 0 40px #55ec20, 0 0 50px #55ec20, 0 0 60px #55ec20, 0 0 70px #55ec20, 0 0 80px #55ec20;
            }
          }

        p {
            color: $sgbusgreen;
            font-weight: 500px;
            font-size: 1rem;
            line-height: 18.75px;
            display: none;
        }
    }

    ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

        li {
            display: flex;
            justify-content: center;

            a {
                text-decoration: none;
                color: $antiflashwhite;
                font-weight: 500px;
                font-size: 1rem;
                line-height: 18.75px;
                transition: 0.2s ease-in;

            }

            a:hover {
                color: $sgbusgreen;
                animation: glow 1s ease-in-out infinite alternate;
            }

            @keyframes glow {
                from {
                  text-shadow: 0 0 10px #55ec20, 0 0 20px #55ec20, 0 0 30px #55ec20, 0 0 40px #55ec20, 0 0 50px #55ec20, 0 0 60px #55ec20, 0 0 70px #55ec20;
                }
                
                to {
                  text-shadow: 0 0 20px #55ec20, 0 0 30px #55ec20, 0 0 40px #55ec20, 0 0 50px #55ec20, 0 0 60px #55ec20, 0 0 70px #55ec20, 0 0 80px #55ec20;
                }
              }

        }
    }

    i {
        color: $sgbusgreen;
        height: 22px;
        width: 22px;
        display: none;
    }
}




// Footer
.footer {
    width: 100%;
    margin: 0 auto;
    padding: 22px 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    background-color: $eerieblack;
    color: $antiflashwhite;
    
    div {
        display: flex;
        justify-content: center;
        text-align: left;

        p {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 16.41px;
            align-items: center;

            span {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 16.41px;
                color: $sgbusgreen;
            }
        }
    }
}