
@import '../SCSS/Global.scss';


// Historik
#historik {
    background-color: $raisinblack;
    // width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 19px;

    // border: 2px solid $eerieblack;

    .settinglink {
        color: $sgbusgreen;
        margin-right: 16px;
        margin-left: auto;
        font-size: 23px;
        cursor: pointer;
    }

    .settinglink:hover {
        animation: rotate 2s linear infinite;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    h1 {
        color: $antiflashwhite;
        font-weight: 300;
        font-size: 2rem;
        line-height: 37.5px;
        text-align: center;
        margin-top: 23px;
        margin-bottom: 49px;
        text-transform: uppercase;
    }

    #calender {
        width: 100%;
        background-color: $eerieblack;
        width: 305px;
        display: flex;
        margin: 0 auto;
        box-shadow: 0px 0px 8px 4px rgba(91, 91, 91, 0.25);
        padding: 12px 29px;
        border-radius: 8px;
        margin-bottom: 53px;
   
        #pickdate {
            width: 305px;
            background-color: $eerieblack;
            border: none;
            
        }
        ::-webkit-datetime-edit-text {
            color: $antiflashwhite;
            font-weight: 300;
            font-size: 1rem;
            line-height: 18.75;
             
        }
        ::-webkit-datetime-edit-month-field {
            color:$antiflashwhite;
            font-weight: 300;
            font-size: 1rem;
            line-height: 18.75;
        }
        ::-webkit-datetime-edit-day-field {
            color: $antiflashwhite;
            font-weight: 300;
            font-size: 1rem;
            line-height: 18.75;
        }
        ::-webkit-datetime-edit-year-field {
            color:$antiflashwhite;
            font-weight: 300;
            font-size: 1rem;
            line-height: 18.75;
        }
        ::-webkit-calendar-picker-indicator {
            background-color: $sgbusgreen;
            border-radius: 25%;
            font-size: 1.6rem;
            cursor: pointer;
        } 
        
        
    }

    #textdate {
        color: $antiflashwhite;
        font-weight: 300;
        font-size: 1rem;
        line-height: 18.75px;
        text-align: center;
        margin-bottom: 15px;                
    }


    #historikprices {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        li {
            width: 100%;
            background-color: $eerieblack;
            width: 305px;
            margin: 0 auto;
            display: grid;
            align-items: center;
            justify-content: center;
            align-content: center;
            grid-template-columns: 1fr 1fr;
            box-shadow: 0px 0px 8px 4px rgba(91, 91, 91, 0.25);
            padding: 10px 16px;
            border-radius: 8px;

            .time {
                color: $antiflashwhite;
                font-weight: 400;
                font-size: 0.938rem;
                line-height: 17.58px;
                text-align: center;

            }

            .price {
                color: $sgbusgreen;
                font-weight: 400;
                font-size: 0.938rem;
                line-height: 17.58px;
                text-align: center;
                
            }
            
        }


    }


    
}