@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* variables */
/* Colors */
/* Fonts */
/* font-family: 'Roboto', sans-serif; */
:root {
  --green: #58ed21;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #27282B;
}

/* Mobil size: width 375px */
.nav {
  width: 100%;
  margin: 0 auto;
  padding: 5px 16px 5px 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #201E1E;
}
.nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav div a {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: 0.2 ease-in;
}
.nav div a img {
  width: 100%;
}
.nav div a:hover {
  box-shadow: 0px 0px 8px 2px rgba(85, 236, 32, 0.5);
  color: #58ed21;
}
@keyframes glow1 {
  from {
    box-shadow: 0 0 50px #55ec20, 0 0 20px #55ec20, 0 0 30px #55ec20, 0 0 40px #55ec20, 0 0 50px #55ec20, 0 0 60px #55ec20, 0 0 70px #55ec20;
  }
  to {
    box-shadow: 0 0 20px #55ec20, 0 0 30px #55ec20, 0 0 40px #55ec20, 0 0 50px #55ec20, 0 0 60px #55ec20, 0 0 70px #55ec20, 0 0 80px #55ec20;
  }
}
.nav div p {
  color: #58ed21;
  font-weight: 500px;
  font-size: 1rem;
  line-height: 18.75px;
  display: none;
}
.nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.nav ul li {
  display: flex;
  justify-content: center;
}
.nav ul li a {
  text-decoration: none;
  color: #EBEBEB;
  font-weight: 500px;
  font-size: 1rem;
  line-height: 18.75px;
  transition: 0.2s ease-in;
}
.nav ul li a:hover {
  color: #58ed21;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #55ec20, 0 0 20px #55ec20, 0 0 30px #55ec20, 0 0 40px #55ec20, 0 0 50px #55ec20, 0 0 60px #55ec20, 0 0 70px #55ec20;
  }
  to {
    text-shadow: 0 0 20px #55ec20, 0 0 30px #55ec20, 0 0 40px #55ec20, 0 0 50px #55ec20, 0 0 60px #55ec20, 0 0 70px #55ec20, 0 0 80px #55ec20;
  }
}
.nav i {
  color: #58ed21;
  height: 22px;
  width: 22px;
  display: none;
}

.footer {
  width: 100%;
  margin: 0 auto;
  padding: 22px 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  background-color: #201E1E;
  color: #EBEBEB;
}
.footer div {
  display: flex;
  justify-content: center;
  text-align: left;
}
.footer div p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16.41px;
  align-items: center;
}
.footer div p span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16.41px;
  color: #58ed21;
}

.navdash {
  width: 100%;
  margin: 0 auto;
  padding: 5px 16px 5px 16px;
  display: flex;
  justify-content: space-between;
  background-color: #201E1E;
}
.navdash div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navdash div .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: 0.2 ease-in;
}
.navdash div .icon img {
  width: 100%;
}
.navdash div .icon:hover {
  box-shadow: 0px 0px 8px 2px rgba(85, 236, 32, 0.5);
  color: #58ed21;
}
.navdash div div .text {
  text-decoration: none;
}
.navdash div div .text p {
  color: #58ed21;
  font-weight: 500px;
  font-size: 1rem;
  line-height: 18.75px;
}
.navdash ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  display: none;
}
.navdash ul li {
  display: flex;
  justify-content: center;
}
.navdash ul li a {
  text-decoration: none;
  color: #EBEBEB;
  font-weight: 500px;
  font-size: 1rem;
  line-height: 18.75px;
  transition: 0.2s ease-in;
}
.navdash ul li a:hover {
  color: #58ed21;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #55ec20, 0 0 20px #55ec20, 0 0 30px #55ec20, 0 0 40px #55ec20, 0 0 50px #55ec20, 0 0 60px #55ec20, 0 0 70px #55ec20;
  }
  to {
    text-shadow: 0 0 20px #55ec20, 0 0 30px #55ec20, 0 0 40px #55ec20, 0 0 50px #55ec20, 0 0 60px #55ec20, 0 0 70px #55ec20, 0 0 80px #55ec20;
  }
}
.navdash .wrapper {
  display: flex;
  align-items: center;
  margin-right: 29px;
}
.navdash .wrapper .settinglink {
  color: #58ed21;
  font-size: 23px;
  cursor: pointer;
}
.navdash .wrapper .settinglink:hover {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navdash .modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  transition: all 0.4s;
}
.navdash .modal:target {
  visibility: visible;
  opacity: 1;
}
.navdash .modal_conteny {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: yellow;
  padding: 1em 2em;
}

main {
  display: grid;
  grid-template-columns: 307px 307px 307px;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 10px;
}
main .box1 {
  width: 100%;
}
main .box1 #ligenu {
  background-color: #27282B;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .box1 #ligenu .settinglink {
  display: none;
}
main .box1 #ligenu h1 {
  color: #EBEBEB;
  font-weight: 300;
  font-size: 2rem;
  line-height: 37.5px;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 54px;
  text-transform: uppercase;
}
main .box1 #ligenu .bigcircle {
  background-color: #201E1E;
  width: 277px;
  height: 277px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 2px rgba(200, 200, 200, 0.2);
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
main .box1 #ligenu .bigcircle .midcircle {
  width: 244px;
  height: 244px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 1px rgb(20, 20, 20);
  border: dashed 2px rgba(85, 236, 32, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .box1 #ligenu .bigcircle .midcircle #priscontent {
  width: 217px;
  height: 217px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 2px rgba(20, 20, 20, 0.2);
  border: dashed 2px rgba(85, 236, 32, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #58ed21;
}
main .box1 #ligenu .bigcircle .midcircle #priscontent h4 {
  display: flex;
  font-weight: 700;
  font-size: 2rem;
}
main .box1 #ligenu .bigcircle .midcircle #priscontent h4 p {
  margin-left: 6px;
}
main .box1 #ligenu #currenttime {
  color: #58ed21;
  font-weight: 500;
  font-size: 1rem;
  line-height: 18.75px;
  text-align: center;
  margin-top: 26px;
}
main .box1 .divcontianer {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 19px;
}
main .box1 .divcontianer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .box1 .divcontianer div .bigcircle {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgba(200, 200, 200, 0.2);
  display: flex;
  background-color: #201E1E;
  margin-bottom: 5px;
}
main .box1 .divcontianer div .bigcircle #lowcontent {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 2px rgba(20, 20, 20, 0.2);
  border: dashed 2px rgba(85, 236, 32, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EBEBEB;
}
main .box1 .divcontianer div .bigcircle #lowcontent #h4 {
  font-weight: 300;
  font-size: 1rem;
  line-height: 18.75px;
  margin-bottom: 5px;
}
main .box1 .divcontianer div .bigcircle #lowcontent #h4 p {
  display: inline;
  margin-left: 5px;
  font-size: 1rem;
  line-height: 18.75px;
}
main .box1 .divcontianer div .bigcircle #lowcontent h5 {
  font-weight: 300;
  font-size: 0.625rem;
  line-height: 11.72px;
}
main .box1 .divcontianer div .bigcircle #highcontent {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 2px rgba(20, 20, 20, 0.2);
  border: dashed 2px rgba(85, 236, 32, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EBEBEB;
}
main .box1 .divcontianer div .bigcircle #highcontent #h4 {
  font-weight: 300;
  font-size: 1rem;
  line-height: 18.75px;
  margin-bottom: 5px;
}
main .box1 .divcontianer div .bigcircle #highcontent #h4 p {
  display: inline;
  margin-left: 5px;
  font-size: 1rem;
  line-height: 18.75px;
}
main .box1 .divcontianer div .bigcircle #highcontent h5 {
  font-weight: 300;
  font-size: 0.625rem;
  line-height: 11.72px;
}
main .box1 .divcontianer div p {
  color: #EBEBEB;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 16.41px;
  text-align: center;
  margin-top: 5px;
}
main .box1 .footerdash {
  width: 100%;
  margin: 0 auto;
  padding: 22px 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 5px;
  padding-top: 100px;
  color: #EBEBEB;
}
main .box1 .footerdash div {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  width: 300px;
}
main .box1 .footerdash div p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16.41px;
  align-items: center;
}
main .box1 .footerdash div p span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16.41px;
  color: #58ed21;
}
main .box2 {
  width: 100%;
}
main .box2 #oversigt {
  background-color: #27282B;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .box2 #oversigt h1 {
  color: #EBEBEB;
  font-weight: 300;
  font-size: 2rem;
  line-height: 37.5px;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 49px;
  text-transform: uppercase;
}
main .box2 #oversigt #oversigtprices {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
main .box2 #oversigt #oversigtprices li {
  width: 100%;
  background-color: #201E1E;
  width: 305px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0px 8px 4px rgba(91, 91, 91, 0.25);
  padding: 10px 16px;
  border-radius: 8px;
}
main .box2 #oversigt #oversigtprices li .time {
  color: #EBEBEB;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 17.58px;
  text-align: center;
}
main .box2 #oversigt #oversigtprices li .price {
  color: #58ed21;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 17.58px;
  text-align: center;
}
main .box3 {
  width: 100%;
}
main .box3 #historik {
  background-color: #27282B;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .box3 #historik .settinglink {
  display: none;
}
main .box3 #historik h1 {
  color: #EBEBEB;
  font-weight: 300;
  font-size: 2rem;
  line-height: 37.5px;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 49px;
  text-transform: uppercase;
}
main .box3 #historik #calender {
  width: 100%;
  background-color: #201E1E;
  width: 305px;
  display: flex;
  margin: 0 auto;
  box-shadow: 0px 0px 8px 4px rgba(91, 91, 91, 0.25);
  padding: 12px 29px;
  border-radius: 8px;
  margin-bottom: 53px;
}
main .box3 #historik #calender #pickdate {
  width: 305px;
  background-color: #201E1E;
  border: none;
}
main .box3 #historik #calender ::-webkit-datetime-edit-text {
  color: #EBEBEB;
  font-weight: 300;
  font-size: 1rem;
  line-height: 18.75;
}
main .box3 #historik #calender ::-webkit-datetime-edit-month-field {
  color: #EBEBEB;
  font-weight: 300;
  font-size: 1rem;
  line-height: 18.75;
}
main .box3 #historik #calender ::-webkit-datetime-edit-day-field {
  color: #EBEBEB;
  font-weight: 300;
  font-size: 1rem;
  line-height: 18.75;
}
main .box3 #historik #calender ::-webkit-datetime-edit-year-field {
  color: #EBEBEB;
  font-weight: 300;
  font-size: 1rem;
  line-height: 18.75;
}
main .box3 #historik #calender ::-webkit-calendar-picker-indicator {
  background-color: #58ed21;
  border-radius: 25%;
  font-size: 1.6rem;
  cursor: pointer;
}
main .box3 #historik #textdate {
  color: #EBEBEB;
  font-weight: 300;
  font-size: 1rem;
  line-height: 18.75px;
  text-align: center;
  margin-bottom: 15px;
}
main .box3 #historik #historikprices {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
main .box3 #historik #historikprices li {
  width: 100%;
  background-color: #201E1E;
  width: 305px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0px 8px 4px rgba(91, 91, 91, 0.25);
  padding: 10px 16px;
  border-radius: 8px;
}
main .box3 #historik #historikprices li .time {
  color: #EBEBEB;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 17.58px;
  text-align: center;
}
main .box3 #historik #historikprices li .price {
  color: #58ed21;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 17.58px;
  text-align: center;
}/*# sourceMappingURL=dashboard.css.map */